@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

    }
    body {
	margin-top: 100px;
	background-color: #f5f1f1;
    }

    
    .container {
	position: relative;
	max-width: 900px;
	margin: 80px auto 30px; /* Increase top margin to ensure content does not hide under the fixed header */
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
	padding: 20px; /* Optional: Adds some padding inside the container */
    }
    

.title {
	display: flex;
	justify-content: center;
}
.title h1 {
	padding: 10px;
	font-family: 'Courier New', Courier, monospace;
}
.image {
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
}

.container img{
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
	height: auto;
	width: 400px;
}

.description {
	font-family: 'Courier New', Courier, monospace;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 16px;
	
}
.solid {
	border: 2px solid rgba(128, 128, 128, 0.3); /* Bordure presque transparente en gris */
	height: 2px;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 20px;
	margin-bottom: 20px;
}
.ingre_steps{
	display: flex;
	justify-content: space-between;
}

.ingredients,
.steps {
    flex-basis: 45%; /* Adjust width as needed */
    padding: 10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.ingredients {
	
	text-align: center;
	border-right: 1.5px solid rgba(128, 128, 128, 0.3); /* Ajout de la bordure droite */
	padding-right: 100px;
}
.ingredients h3{
	
	margin-bottom: 30px;
}
.steps h3 {
	margin-bottom: 30px;
}



.button-55 {
	align-self: center;
	background-color: #fff;
	background-image: none;
	background-position: 0 90%;
	background-repeat: repeat no-repeat;
	background-size: 4px 3px;
	border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
	border-style: solid;
	border-width: 2px;
	box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
	box-sizing: border-box;
	color: #41403e;
	cursor: pointer;
	display: inline-block;
	font-family: Neucha, sans-serif;
	font-size: 1rem;
	line-height: 23px;
	outline: none;
	padding: .75rem;
	text-decoration: none;
	transition: all 235ms ease-in-out;
	border-bottom-left-radius: 15px 255px;
	border-bottom-right-radius: 225px 15px;
	border-top-left-radius: 255px 15px;
	border-top-right-radius: 15px 225px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
      }
      
      .button-55:hover {
	box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
	transform: translate3d(0, 2px, 0);
      }
      
      .button-55:focus {
	box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
      }


      .save_icon {
	width: 45px;
	height: 45px;
	background-color: #d80b0b;
	border-radius: 50%;
	cursor: pointer;
	position: absolute;
	top: -1%;
	right: -1%;
	display: flex;
	justify-content: center;
	align-items: center;
    }
    #heart {
	font-size: 24px;
	position: absolute;
	color: white;
    }
    .pop-up {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none; 
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid green;
	width: 230px;
	height: 350px;
	background-color: white; 
	z-index: 100; 
    }
    
.pop-up *{
	margin-bottom: 30px;
}
.pop-up img {
	width: 40px;
	height: auto;
}
